.card {
    border-radius: 0;
    transition: transform 0.2s;
    width: 300px; /* Adjust width here */
    background-color: #FFD700; /* Default color */
}

.card:hover {
    transform: scale(1.05);
}

.wedding {
    background-color: #5a3082; /* Gold */
}

.musical {
    background-color: #2c3990; /* Hot pink */
}

.birthday {
    background-color: #87CEEB; /* Sky blue */
}

.others {
    background-color: #20B2AA; /* Light sea green */
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem; /* Reduce font size */
}

.card-body p {
    font-size: 1rem; /* Reduce font size */
    text-align: center;
}

.dashboard-link {
    text-decoration: none;
    color: inherit;
}
